:root{

    --mainColor: #606b60;
    --secondaryColor: #515a48;
    --mainText: white; 
    --secondaryTest: #eeeeee;
    --bordarColor: #ffffff;
    --themeDotBorder: #ffffff;
    --previewBg: rgba(81, 34, 72, 0.8);
    --previewShadow: #2a2f25;
    --buttonColor: black;

}
